body {
  background-color: #192428;
  margin: 0;
}

footer {
  background-color: #ff4800;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25rem;
  padding-right: 10%;
  color: white;
  position: sticky;
}

/* Copyright text */
footer p {
  font-family: "Source Sans 3", sans-serif;
}

footer ul {
  list-style: none;
  font-family: "Source Sans 3", sans-serif;
  padding: 0;
}

/* link texts */
footer a {
  text-decoration: none;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

footer h3 {
  font-family: "Source Sans 3", sans-serif;
}

/* title header */
header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.profileCircle {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff4800;
  color: white;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  font-size: small;
}

/* icons in header */
.icons {
  display: flex;
  margin: 0;
  gap: 0.5em;
  padding: 0%;
}
.icons img {
  width: 25px;
}

nav p {
  font-family: medium;
  color: #ff4800;
}

nav {
  background-color: #1d2d33;
  padding: 1%;
  margin: 0%;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin-top: 10%;
}
.headerlogo {
  font-family: Medium;
  color: white;
}

.footer-column {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/* Planner Page */
.planner {
  text-decoration: none;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

.button {
  display: flex;
}

/* Profile Page */
.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #ff4800;
  margin: 1em;
  display: flex;
  /* Text */
  color: white;
  align-items: center;
  justify-content: center;
  font-family: "Source Sans 3", sans-serif;
  font-weight: bold;
  font-size: xx-large;
}

/* Calendar Page */
main {
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  margin: 2%;
  display: flex;
  width: 50%;
  height: auto;
  flex-direction: column;
  padding: 10px;
  background: #1d2d33;
  border-radius: 10px;
  font-family: "Source Sans 3", sans-serif;
  color: white;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
  text-align: center;
  font-weight: 600;
  width: 150px;
}

.calendarHeader button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #ff4800;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-family: "Source Sans 3", sans-serif;
  color: white;
  font-size: xx-large;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day {
  text-align: center;
  padding: 5px;
  color: white;
  font-weight: 500;
}

.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  font-family: "Source Sans 3", sans-serif;
  color: white;
}

.date {
  display: flex;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10%;
  width: 40px;
  height: 50px;
  transition: 0.2s;
}

.date:hover:not(.active) {
  background: #ff4800;
  color: rgb(255, 255, 255);
}
/* Today's date is white with orange text */
.date.active {
  background: #ffff;
  color: #ff4800;
}
.date.inactive {
  color: white;
}
.date.inactive:hover {
  color: white;
}

/* Popup styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: #1d2d33;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 300px;
  position: relative;
}

.popup-content p{
  font-size: large;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

#addExerciseBtn{
  background-color: #ff4800;
  font-family: "Source Sans 3", sans-serif;
  color: #ffff;
  font-weight: bold;
  border: 0;
  text-decoration: none;
}
#addExerciseBtn a{
  text-decoration: none;
  color: #ffff;
}

#restBtn{
  background-color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  color: #ff4800;
  font-weight: bold;
  border: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.hidden{
  display: none;
}




/* News Page */


.contentLayout{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #1d2d33;
  border-radius: 8px;
}

.mainArticle{
  max-width: 1000px;
  flex: 1;
  text-align: justify;
  line-height: 1.6;
}
.mainArticle img{
  max-width: 100%;
}

main h1{
  font-family: medium;
  color: #ff4800;
}
main h2{
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: xx-large;
  color: #ff4800;
} 
main h3{
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: x-large;
  color: #ff4800;
}

main p{
  margin-top: 0%;
  margin-bottom: 2rem;
}

body{
  overflow-y: scroll;
  background-color: #192428;
}