body {
  background-color: #1d2d33;
  margin: 0;
}

footer {
  background-color: #ff4800;
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-column{



}

footer p {

font-family: sourcesans3bold;

}

footer ul {

list-style: none;

}

footer a {

text-decoration: none;
color: white;

}

header{

padding: 1em;

}

.headerlogo{

font-family: Medium;
color: white;

}

