body {
  display: flex;
  flex-direction: column;
  background-color: #192428;
  margin: 0;
  min-height: 100vh;
}

footer {
  background-color: #ff4800;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  gap: 3rem;
  padding: 2rem;
  color: white;
  position: sticky;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* Copyright text */
footer p {
  font-family: "Source Sans 3", sans-serif;
}

footer ul {
  list-style: none;
  font-family: "Source Sans 3", sans-serif;
  padding: 0;
}

/* link texts */
footer a {
  text-decoration: none;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

footer h3 {
  font-family: "Source Sans 3", sans-serif;
}

/* title header */
header {
  display: flex;
  padding: 1em;
  justify-content: space-between;
}

.logo {
  width: 350px;
  height: auto;
}

/*Profile avatar*/
.profileCircle img {
  width: 30px;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.profileCircle {
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff4800;
  align-items: center;
  justify-content: center;
}

/* icons in header */
.icons {
  display: flex;
  margin: 0;
  gap: 0.5em;
  padding: 0%;
}
.icons img {
  width: 30px;
}

nav p {
  font-family: medium;
  color: #ff4800;
}

nav {
  background-color: #1d2d33;
  padding: 1%;
  margin: 0%;
  display: flex;
  justify-content: space-between;
}

nav a {
  margin-top: 10%;
}
.headerlogo {
  font-family: Medium;
  color: white;
}

.footer-column {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

.workoutImage {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 20px;
}
.workoutImage img {
  max-width: 50%;
  width: auto;
  height: auto;
}

/* Planner Page */
.planner {
  text-decoration: none;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

.button {
  display: flex;
}

/* Calendar Page */
main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar {
  width: 40%;
  height: auto;
  max-width: 100%;
  margin: 2%;
  display: flex;
  height: auto;
  flex-direction: column;
  background: #1d2d33;
  border-radius: 10px;
  font-family: "Source Sans 3", sans-serif;
  color: white;
  overflow: hidden;
  padding: 1rem;
}

.calendarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.monthYear {
  text-align: center;
  font-weight: 600;
  width: 150px;
  font-family: medium;
}

.calendarHeader button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  background: #ff4800;
  cursor: pointer;
  width: 40px;
  height: 40px;
  font-family: "Source Sans 3", sans-serif;
  color: white;
  font-size: xx-large;
}

.calendarGrid {
  display: grid;
}

.days,
.dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: bold;
  width: 100%;
  margin: 0;
  padding: 0;
  gap: 0;
}

.day {
  display: flex;
  text-align: center;
  padding: 10px;
  font-family: medium;
  color: white;
  font-weight: bold;
  font-size: small;
}

.date {
  display: inline-block;
  padding: 10px;
  margin: auto;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10%;
  width: 40px;
  height: 40px;
  transition: 0.2s;
}

.date:hover:not(.active) {
  background: #ff4800;
  color: rgb(255, 255, 255);
}
/* Today's date is white with orange text */
.date.active {
  background: #ffff;
  color: #ff4800;
}
.date.inactive {
  background-color: #192428;
  color: white;
  padding: 10px;
}
.date.inactive:hover {
  color: white;
  background-color: #192428;
}

/* Popup styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup.hidden {
  display: none;
}

.popup-content {
  background: #1d2d33;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: white;
  width: 300px;
  position: relative;
}

.popup-content p {
  font-size: large;
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
}

#addExerciseBtn {
  background-color: #ff4800;
  font-family: "Source Sans 3", sans-serif;
  color: #ffff;
  font-weight: bold;
  border: 0;
  text-decoration: none;
  border-radius: 10px;
  cursor: pointer;
}
#addExerciseBtn a {
  text-decoration: none;
  color: #ffff;
}

#restBtn {
  background-color: #ffffff;
  font-family: "Source Sans 3", sans-serif;
  color: #ff4800;
  font-weight: bold;
  border: 0;
}

.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.date.planned {
  background-color: #63e87d;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden {
  display: none;
}

/* Planner Page */
#selectedDate {
  display: flex;
  padding: 1%;
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
}

#confirmButton {
  display: block;
  background-color: #63e87d;
  border-radius: 8px;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
}

#addButton {
  display: block;
  background-color: #63e87d;
  border-radius: 12px;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* Workout Page */
.dw {
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
}

.start-button {
  background-color: #63e87d;
  border-radius: 8px;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
  font-weight: bolder;
  font-size: large;
  padding: 15px;
  cursor: pointer;
  margin-top: 20%;
}

.remove-button {
  display: block;
  margin: 20px auto;
  background-color: #192428;
  border-radius: 12px;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  color: #ff4800;
  text-align: center;
  cursor: pointer;
  padding: 10%;
}

.next-button {
  background-color: #63e87d;
  border-radius: 12px;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
  font-weight: bolder;
  font-size: large;
  padding: 15px;
  cursor: pointer;
  margin-top: 20%;
  margin-bottom: 20%;
}

.dw {
  color: #ffffff;
}

.goCalendar {
  background-color: #63e87d;
  border-radius: 8px;
  border: none;
  font-family: "Source Sans 3", sans-serif;
  color: #ffffff;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 3%;
}

/* News Page */
.contentLayout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #1d2d33;
  border-radius: 8px;
}

.article {
  max-width: 1000px;
  flex: 1;
  text-align: justify;
  line-height: 1.6;
}
.article img {
  max-width: 100%;
}

.newsh1 {
  font-family: medium;
  color: #ff4800;
}
.newsh2 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: xx-large;
  color: #ff4800;
}
.newsh3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: x-large;
  color: #ff4800;
}

.articleText {
  margin-top: 0%;
  margin-bottom: 2rem;
}

body {
  overflow-y: scroll;
  background-color: #192428;
}

/* Bmi  calculator*/

.stats-section {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

.stats-section h2 {
  margin-bottom: 1rem;
}

.stats-values {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat label {
  margin-bottom: 0.3rem;
  font-size: 6rem;
}

.dw {
  color: #ffffff;
}

/* News Page */
.contentLayout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #1d2d33;
  border-radius: 8px;
}

.article {
  max-width: 1000px;
  flex: 1;
  text-align: justify;
  line-height: 1.6;
}
.article img {
  max-width: 100%;
}

.newsh1 {
  font-family: medium;
  color: #ff4800;
}
.newsh2 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: xx-large;
  color: #ff4800;
}
.newsh3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: x-large;
  color: #ff4800;
}

.articleText {
  margin-top: 0%;
  margin-bottom: 2rem;
}

body {
  overflow-y: scroll;
  background-color: #192428;
}

/* Bmi  calculator*/
.stats-section {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

.stats-section h2 {
  margin-bottom: 1rem;
}

.stats-values {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.stat {
  display: flex;
  flex-direction: column;
}

.stat label {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.stat input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #1d2d33;
  font-size: 1rem;
  width: 120px;
}

.button-style {
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  background-color: #1d2d33;
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Source Sans 3", sans-serif;
  font-size: 1rem;
}

/*LOGIN PAGE*/
.loginPage {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  font-family: "Source Sans 3", sans-serif;
}

.login-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url("images/Workout1.jpg") no-repeat center center/cover;
  opacity: 0.5;
  z-index: -1;
  filter: brightness(0.5);
}

.loginContainer {
  background-color: #1d2d33;
  color: #ff4800;
  width: 420px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.loginLogo {
  display: flex;
  margin: 2rem auto;
  width: 70%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.loginLogo img {
  display: flex;
  justify-content: center;
}

.accountInput {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dw {
  color: #ffffff;
}

/* News Page */
.contentLayout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #1d2d33;
  border-radius: 8px;
}

.article {
  max-width: 1000px;
  flex: 1;
  text-align: justify;
  line-height: 1.6;
}
.article img {
  max-width: 100%;
}

.newsh1 {
  font-family: medium;
  color: #ff4800;
}
.newsh2 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: xx-large;
  color: #ff4800;
}
.newsh3 {
  margin-top: 1rem;
  margin-bottom: 0rem;
  font-size: x-large;
  color: #ff4800;
}

.articleText {
  margin-top: 0%;
  margin-bottom: 2rem;
}

body {
  overflow-y: scroll;
  background-color: #192428;
}

/* Bmi  calculator*/

.stats-section {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 500px;
  text-align: center;
  color: white;
  font-family: "Source Sans 3", sans-serif;
}

.stats-section h2 {
  margin-bottom: 1rem;
}

.dw {
  color: #ffffff;
}

/* News Page */
.contentLayout {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 1100px;
  margin: 2rem auto;
  padding: 2rem;
  font-family: "Source Sans 3", sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  color: #ffff;
  background-color: #1d2d33;
  border-radius: 8px;
}

.stat label {
  margin-bottom: 0.3rem;
  font-size: 1rem;
}

.stat input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #1d2d33;
  font-size: 1rem;
  width: 120px;
}

/*XP BAR - LEVEL*/
#xp-container {
  width: 100%;
  max-width: 95%;
  margin: 30px auto;
  font-family: medium;
  color: rgb(255, 255, 255);
  text-align: center;
}

#xp-bar-wrapper {
  background-color: rgba(0, 255, 38, 0.1);
  border-radius: 50px;
  overflow: hidden;
  height: 30px;
  box-shadow: 0 0 20px rgba(14, 213, 47, 0.9);
  animation: glow 5s infinite alternate;
}

#xp-bar {
  height: 100%;
  width: 0;
  background: #63e87d;
  border-radius: 50px;
  text-align: center;
  position: relative;
  box-shadow: 0 0 15px #0fad39, 0 0 #63e87d, 0 0 #0dc632;
  transition: width 0.4s ease;
}

#xp-text {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 5px rgb(174, 14, 198), 0 0 10px 0ff;
}

.levelDisplay {
  padding-bottom: 1.25%;

  display: block;
}

@keyframes glow {
  from {
    box-shadow: 0 0 40px #63e87d, 0 0 #63e87d, 0 0 #63e87d;
  }
  to {
    box-shadow: 0 0 15px #2fdc08, 0 0 #63e87d, 0 0 #63e87d;
  }
}

/*USERNAME DISPLAY*/
#usernameDisplay {
  font-family: "Source Sans 3", sans-serif;
  font-weight: lighter;
  color: #ffffff;
  font-size: 16p;
  position: absolute;
  right: 10%;
}
.stat input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #1d2d33;
  font-size: 1rem;
  width: 120px;
}

main > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
}

/* Responsiveness */
/* Home Page */
@media (max-width: 1000px) {
  .logo {
    width: 200px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .icons {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    gap: 10%;
    overflow: visible;
  }
  .icons img {
    width: 30px;
    flex-shrink: 0;
  }

  /* Calendar Page */
  .calendar {
    width: 80%;
    padding: 0.5rem;
    overflow-x: auto;
  }

  .calendarGrid {
    width: 100%;
    height: 100%;
  }
  .calendarHeader {
    flex-direction: row;
    gap: 0.5rem;
  }
  .monthYear {
    width: 80%;
    text-align: center;
  }
  .calendarHeader button {
    width: 36px;
    height: 36px;
  }
  .date {
    width: 70%;
    padding: 10px;
  }
  .days {
    font-size: smaller;
  }
  .popup-content {
    align-items: center;
    justify-content: center;
    width: 70%;
    text-align: center;
  }
  .popup-content p {
    font-size: medium;
  }
  #addExerciseBtn {
    justify-content: center;
    width: 30%;
    padding: 8px;
  }

  @media (max-width: 550px) {
    .calendar {
      width: 100%;
      padding: 1rem;
      border-radius: border-box;
      overflow-x: hidden;
    }
    .calendarHeader {
      gap: 0.05rem;
      justify-content: space-between;
    }
  }

  /* Planner Page */
  .planner {
    display: table;
    width: 100%;
    overflow-x: auto;
    margin-bottom: 1rem;
    margin-top: 0;
    padding: 5%;
  }

  main {
    display: block;
  }

  .planner thead {
    display: none;
  }

  .planner tbody tr {
    display: table-row;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  .planner td {
    display: table-cell;
    vertical-align: middle;
    padding: 0.3rem;
  }
  .planner td::before {
    content: attr(data-label);
    font-weight: bold;
  }

  .planner input,
  .planner select {
    width: 100%;
    font-size: smaller;
  }

  .planner-row-buttons button {
    width: 100%;
  }

  .buttonWraper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
  }

  #addButton {
    display: block;
    margin-left: 5%;
  }

  #confirmButton {
    display: block;
    margin-left: 5%;
  }

  #selectedDate {
    font-size: large;
    text-align: center;
    justify-content: flex-start;
    padding: 3%;
    gap: 0;
    margin-bottom: 0;
  }

  footer {
    flex-direction: row;
    align-items: baseline;
    gap: 1rem;
  }
  .footer-column {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    text-align: center;
  }
  main {
    flex: 1;
  }
}
